

.taskCard {
    color: var(--on-primary-container);
    background-color: var(--primary-container);
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    justify-content: space-between;
    height: 100px;
    overflow-y: hidden;
    margin-block: 8px;
}

.delbtn {
    color: var(--on-primary-container);
    font-size: 18px;
    background-color: var(--secondary-color);
}
.delbtn:hover {
    cursor: pointer;
}

.taskBody {
    margin: 0px;
    font-size: 24px;
}

.taskId {
    font-size: 12px;
}

.taskbtns {
    display: flex;
    flex-direction: row;
    place-content: end;
    margin: 0;
    padding: 4px;
}

.editbtn {
    background-color: var(--secondary-color);
    color: var(--on-primary-container)
}
.editbtn:hover {
    cursor: pointer;
}