.taskCard {
    background-color: var(--main-card-bg);
    display: flex;
    justify-content: space-between;
}

.delbtn {
    padding: 4px;
    color: var(--main-red);
    background-color: rgba(0,0,0,0);
    font-size: 18px;
}

.delbtn:hover {
    color: var(--main-white-text)
}

.taskBody {
    margin: 0px;
}

.taskbtns {
    display: flex;
    flex-direction: column;
}

.editbtn:hover {
    color: var(--main-white-text);
}