

.taskCard {
    background-color: var(--main-card-bg);
    display: flex;
    flex-grow: 0;
    justify-content: space-between;
    height: 80px;
    overflow-y: scroll;
    margin-block: 8px;
}

.delbtn {
    padding: 4px;
    color: var(--main-red);
    background-color: rgba(0,0,0,0);
    font-size: 18px;
}
.delbtn:hover {
    cursor: pointer;
}

.taskBody {
    margin: 0px;
    font-size: 24px;
}

.taskId {
    font-size: 12px;
}

.taskbtns {
    display: flex;
    flex-direction: column;
}
.editbtn:hover {
    cursor: pointer;
}