

.taskCard {
    background-color: var(--main-card-bg);
    display: flex;
    justify-content: space-between;
}

.delbtn {
    padding: 4px;
    color: var(--main-red);
    background-color: rgba(0,0,0,0);
    font-size: 18px;
}

.delbtn:hover {
    color: var(--main-white-text)
}

.taskBody {
    margin: 0px;
}

.taskbtns {
    display: flex;
    flex-direction: column;
}

.editbtn:hover {
    color: var(--main-white-text);
}

.taskCheck {
    appearance: none;
    margin: 0px;
    padding: 0px;
    background-color: rgba(0,0,0,0);
    border: 1px solid;
    border-radius: 4px;
    border-color: var(--main-black-text);
    height: 16px;
    width: 16px;
    align-self: center;
    color: var(--main-black-text);
}

.taskCheck:checked {
    background-color: var(--main-color);
}

.taskCheck:hover {
    border-color: var(--main-white-text);
}