@import '../../assets/styles/palette.sass';

.button {
    outline: none;
    &:hover {
        cursor: pointer;
    }
}

.button-rounded {
    height: 36px;
    width: 36px;
    min-width: 0;
    border-radius: 100%;
}

.button-cancel {
    height: 24px;
    width: 24px;
    min-width: 0;
    border-radius: 100%;
    background-color: rgba(0,0,0,0);
    border: none;
    color: $error;
}

.button-long {
    min-width: 36px;
    border-radius: 10%;
    background-color: $primary;
    color: $primary-on;
    appearance: none;
}