@import '../../assets/styles/palette.sass';

.button {
    outline: none;
    &:hover {
        cursor: pointer;
    }
    display: flex;
    align-items: center;
    justify-content: center;
}

.button-rounded {
    height: 36px;
    width: 36px;
    min-width: 0;
    border-radius: 100%;
    font-size: 18px;
}

.button-cancel {
    height: 24px;
    width: 24px;
    min-width: 0;
    border-radius: 100%;
    background-color: rgba(0,0,0,0);
    border: none;
    color: $error;
}

.button-long {
    min-width: 36px;
    border-radius: 4px;
    background-color: $primary;
    color: $primary-on;
    appearance: none;
    padding-inline: 16px;
    padding-block: 4px;
}