:root {
    --main-box-bg: #bbbdbf;
    --main-white-text: white;
    --main-black-text: black;
    --main-red: #e81515;
    --main-color: #4585ed;
    --main-card-bg: #e8eaed;

    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    border-radius: 4px;
    padding-inline: 12px;
    padding-block: 4px;
    border: 1px;
    border-color: black;
}

.container {
    border-radius: 4px;
    margin: 4px;
    padding: 8px;
}

.taskContainer {
    background-color: var(--main-box-bg);
}
.btnbox {
    display: flex;
    justify-content: space-between;
    background-color: var(--main-box-bg);
    padding: 16px;
}

.title {
    margin: 0px;
    color: var(--main-black-text);
    text-align: center;
    font-size: 32px;
}

.taskCheck {
    appearance: none;
    margin: 0px;
    padding: 0px;
    background-color: rgba(0,0,0,0);
    border: 1px solid;
    border-radius: 4px;
    border-color: var(--main-black-text);
    height: 16px;
    width: 16px;
    align-self: center;
    color: var(--main-black-text);
}

.taskCheck:checked {
    background-color: var(--main-color);
}

.taskCheck:hover {
    cursor: pointer;
}