:root {
    --primaryColor: #3498eb;
    --taskBg: #b7bbbd;
    --containerBg: #919394;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.container {
    border-radius: 8px;
    padding-inline: 8px;
    padding-block: 1px;
    opacity: 1;
}

.taskContainer {
    background-color: var(--containerBg);
}

.taskCard {
    background-color: var(--taskBg);
    margin-block: 4px;
    display: flex;
    justify-content: space-between;
}

.btn {
    border-radius: 4px;
    padding-block: 8px;
    padding-inline: 16px;
    margin-block: 8px;
}

.taskbtn {
    color: white;
    background-color: var(--primaryColor);
}

.taskInput {
    display: flex;
    flex-direction: column;
}

.delbtn {
    background-color: red;
    color: white;
}

.addBox {
    background-color: var(--taskBg);
    opacity: 1;
}

.header {
    display: flex;
    justify-content: space-between;
}

.taskDescription {
    border-radius: 4px;
    border: 0px;
}