.taskbtn {
    background-color: var(--main-color);
    color: var(--on-primary);
    font-size: 16px;
}

.taskbtn:hover {
    cursor: pointer;
}

.test {
    display: flex;
    align-items: center;
}