@import '../../assets/styles/palette.sass';

.wrapper {
    background-color: rgba(0,0,0, 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.addBox {
    max-width: 300px !important;
    width: 100%;
    max-height: 200px;
    height: 100%;
    margin: auto;
    background-color: $secondary-container !important;
    color: $secondary-on-container;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .addheader {
        display: flex;
        justify-content: space-between;
    }
}