@import '../../assets/styles/palette.sass';

.wrapper {
    background-color: rgba(0,0,0, 0.5);
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.addBox {
    max-width: 700px;
    width: 100%;
    margin: auto;
    background-color: $primary !important;

    .addheader {
        display: flex;
        justify-content: space-between;
    }
}